<ul>
<!-- <%= %>の中でのブロック変数の使い方がわかりませんでした。 -->
  <li><%= @synonym.syn1 %></li>
  <li><%= @synonym.syn2 %></li>
  <li><%= @synonym.syn3 %></li>
  <li><%= @synonym.syn4 %></li>
  <li><%= @synonym.syn5 %></li>
</ul>
<p>以上がデータベースに保存されました。</p>
<%= link_to 'トップへ戻る', root_path %>
