<h1>入力された単語の関連語を10個表示します</h1>

<%= form_tag(search_path) do %>
<div>
  <%= text_field_tag :search_word, "", placeholder: '単語を入力してください' %>
  <%= submit_tag '送信' %>
</div>
<% end %>

<% unless @words.empty? %>
<p>これまでの検索結果</p>
<ul>
<% @words.each do |word| %>
  <li>
    検索語：<%= word.search %>　
    関連語：<%= word.synonym.syn1 %>,
           <%= word.synonym.syn2 %>,
           <%= word.synonym.syn3 %>,
           <%= word.synonym.syn4 %>,
           <%= word.synonym.syn5 %>
  </li>
<% end %>
</ul>
<% end %>