%h1入力された単語の関連語を10個表示します

= form_for(Word.new) do |f|
  = f.text_field :search #, placeholder: '単語を入力してください'
  = f.submit '送信'

- unless @words.empty?
  %pこれまでの検索結果
  %ul
    - @words.each do |word|
      %li
        \検索語：
        = word.search
        \関連語：
        - (1..5).each do |index|
          = word.try(:synonym).try("syn#{index}".to_sym)