%h1 関連語

- @word.all_synonyms.each do |synonym|
  %p= synonym

= form_for @synonym, url: [@word, @synonym] do |f|
  - top5 = @word.top_5_synonyms
  - (1..5).each do |index|
    = f.hidden_field "syn#{index}".to_sym, value: top5[index - 1]
  = f.submit '関連語上位５件をDBに保存'